Package: auto-idle
Version: 0.1.3
Section: utils
Priority: optional
Architecture: amd64
Depends: python3 (>= 3.12),
    python3-pyqt6,
    libglib2.0-bin,
    power-profiles-daemon,
    python3-pydantic
Maintainer: Volodymyr Hlavnyi <volodymyr.hlavnyi@gmail.com>
Description: Auto switch power profiles based on idle time
 A tray application for GNOME that switches power profiles
 automatically depending on user activity. ASUS ROG RGB keyboard is supported.
